/* * {
  border: solid red 1px;
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.clock {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.clock-container {
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px;
}

.date {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.time {
  font-size: 7rem;
  font-weight: bold;
  color: #333;
  margin-top: 5px;
}

.buttons {
  display: flex;
  gap: 15px;
}

::ng-deep .clock-in-btn {
  background-color: #4caf50 !important;
  color: white !important;
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

::ng-deep .start-break-btn {
  background-color: #ff9800 !important;
  color: white !important;
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

::ng-deep .end-break-btn {
  background-color: #2196f3 !important;
  color: white !important;
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

::ng-deep .clock-out-btn {
  background-color: #f44336 !important;
  color: white !important;
  padding: 10px 20px !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

@media screen and (max-width: 768px) {
  .clock {
    font-size: 3rem;
  }
  .buttons {
    flex-direction: column;
  }
}
