<!-- Modal Container -->
<div class="custom-modal">
  <div class="modal-content">
    <h2>Approve Overtime Request?</h2>

    <!-- Request Details -->
    <div class="request-details">
        <div class="details-group">
          <label>Employee:</label>
          <p>{{ overtimeRequestData.employeeName }}</p>
        </div>
        <div class="details-group">
          <label>Date:</label>
          <p>{{ overtimeRequestData.date }}</p>
        </div>
        <div class="details-group">
          <label>Start Time:</label>
          <p>{{ overtimeRequestData.startTime }}</p>
        </div>
        <div class="details-group">
          <label>End Time:</label>
          <p>{{ overtimeRequestData.endTime }}</p>
        </div>
        <div class="details-group">
          <label>Overtime Hours:</label>
          <p>{{ overtimeRequestData.overtimeHours }}</p>
        </div>
        <div class="details-group">
          <label>Reason:</label>
          <p>{{ overtimeRequestData.reason }}</p>
        </div>
        <div class="details-group">
          <label>Expected Output:</label>
          <p>{{ overtimeRequestData.expectedOutput }}</p>
        </div>
    </div>
<!--
    <p *ngIf="validationMessage" class="error-message">
      {{ validationMessage }}
    </p> -->

    <!-- Modal Actions -->
    <div class="modal-actions">
      <button class="btn close" (click)="closeModal()">Cancel</button>
      <button class="btn submit" (click)="approveRequest()">Approve</button>
    </div>
  </div>
</div>

<!-- Overlay Background -->
<div class="modal-overlay" (click)="closeModal()"></div>
